In [30]:
import nltk.corpus

In [26]:
nltk.corpus.abc.words()

['PM', 'denies', 'knowledge', 'of', 'AWB', 'kickbacks', ...]

In [27]:
print(str(nltk.corpus.brown).replace('\\\\','/'))

<CategorizedTaggedCorpusReader in '.../corpora/brown' (not loaded yet)>

In [31]:
from nltk.corpus import brown

In [32]:
print(brown.tagged_words())

[('The', 'AT'), ('Fulton', 'NP-TL'), ...]

In [40]:
from nltk.corpus import inaugural

In [44]:
nltk.corpus.inaugural.fileids()

['1789-Washington.txt',
 '1793-Washington.txt',
 '1797-Adams.txt',
 '1801-Jefferson.txt',
 '1805-Jefferson.txt',
 '1809-Madison.txt',
 '1813-Madison.txt',
 '1817-Monroe.txt',
 '1821-Monroe.txt',
 '1825-Adams.txt',
 '1829-Jackson.txt',
 '1833-Jackson.txt',
 '1837-VanBuren.txt',
 '1841-Harrison.txt',
 '1845-Polk.txt',
 '1849-Taylor.txt',
 '1853-Pierce.txt',
 '1857-Buchanan.txt',
 '1861-Lincoln.txt',
 '1865-Lincoln.txt',
 '1869-Grant.txt',
 '1873-Grant.txt',
 '1877-Hayes.txt',
 '1881-Garfield.txt',
 '1885-Cleveland.txt',
 '1889-Harrison.txt',
 '1893-Cleveland.txt',
 '1897-McKinley.txt',
 '1901-McKinley.txt',
 '1905-Roosevelt.txt',
 '1909-Taft.txt',
 '1913-Wilson.txt',
 '1917-Wilson.txt',
 '1921-Harding.txt',
 '1925-Coolidge.txt',
 '1929-Hoover.txt',
 '1933-Roosevelt.txt',
 '1937-Roosevelt.txt',
 '1941-Roosevelt.txt',
 '1945-Roosevelt.txt',
 '1949-Truman.txt',
 '1953-Eisenhower.txt',
 '1957-Eisenhower.txt',
 '1961-Kennedy.txt',
 '1965-Johnson.txt',
 '1969-Nixon.txt',
 '1973-Nixon.txt',
 '1977-Carter.txt',
 '1981-Reagan.txt',
 '1985-Reagan.txt',
 '1989-Bush.txt',
 '1993-Clinton.txt',
 '1997-Clinton.txt',
 '2001-Bush.txt',
 '2005-Bush.txt',
 '2009-Obama.txt',
 '2013-Obama.txt',
 '2017-Trump.txt']

In [45]:
inaugural.raw('1789-Washington.txt')

'Fellow-Citizens of the Senate and of the House of Representatives:\n\nAmong the vicissitudes incident to life no event could have filled me with greater anxieties than that of which the notification was transmitted by your order, and received on the 14th day of the present month. On the one hand, I was summoned by my Country, whose voice I can never hear but with veneration and love, from a retreat which I had chosen with the fondest predilection, and, in my flattering hopes, with an immutable decision, as the asylum of my declining years -- a retreat which was rendered every day more necessary as well as more dear to me by the addition of habit to inclination, and of frequent interruptions in my health to the gradual waste committed on it by time. On the other hand, the magnitude and difficulty of the trust to which the voice of my country called me, being sufficient to awaken in the wisest and most experienced of her citizens a distrustful scrutiny into his qualifications, could not but overwhelm with despondence one who (inheriting inferior endowments from nature and unpracticed in the duties of civil administration) ought to be peculiarly conscious of his own deficiencies. In this conflict of emotions all I dare aver is that it has been my faithful study to collect my duty from a just appreciation of every circumstance by which it might be affected. All I dare hope is that if, in executing this task, I have been too much swayed by a grateful remembrance of former instances, or by an affectionate sensibility to this transcendent proof of the confidence of my fellow citizens, and have thence too little consulted my incapacity as well as disinclination for the weighty and untried cares before me, my error will be palliated by the motives which mislead me, and its consequences be judged by my country with some share of the partiality in which they originated.\n\nSuch being the impressions under which I have, in obedience to the public summons, repaired to the present station, it would be peculiarly improper to omit in this first official act my fervent supplications to that Almighty Being who rules over the universe, who presides in the councils of nations, and whose providential aids can supply every human defect, that His benediction may consecrate to the liberties and happiness of the people of the United States a Government instituted by themselves for these essential purposes, and may enable every instrument employed in its administration to execute with success the functions allotted to his charge. In tendering this homage to the Great Author of every public and private good, I assure myself that it expresses your sentiments not less than my own, nor those of my fellow citizens at large less than either. No people can be bound to acknowledge and adore the Invisible Hand which conducts the affairs of men more than those of the United States. Every step by which they have advanced to the character of an independent nation seems to have been distinguished by some token of providential agency; and in the important revolution just accomplished in the system of their united government the tranquil deliberations and voluntary consent of so many distinct communities from which the event has resulted can not be compared with the means by which most governments have been established without some return of pious gratitude, along with an humble anticipation of the future blessings which the past seem to presage. These reflections, arising out of the present crisis, have forced themselves too strongly on my mind to be suppressed. You will join with me, I trust, in thinking that there are none under the influence of which the proceedings of a new and free government can more auspiciously commence.\n\nBy the article establishing the executive department it is made the duty of the President "to recommend to your consideration such measures as he shall judge necessary and expedient." The circumstances under which I now meet you will acquit me from entering into that subject further than to refer to the great constitutional charter under which you are assembled, and which, in defining your powers, designates the objects to which your attention is to be given. It will be more consistent with those circumstances, and far more congenial with the feelings which actuate me, to substitute, in place of a recommendation of particular measures, the tribute that is due to the talents, the rectitude, and the patriotism which adorn the characters selected to devise and adopt them. In these honorable qualifications I behold the surest pledges that as on one side no local prejudices or attachments, no separate views nor party animosities, will misdirect the comprehensive and equal eye which ought to watch over this great assemblage of communities and interests, so, on another, that the foundation of our national policy will be laid in the pure and immutable principles of private morality, and the preeminence of free government be exemplified by all the attributes which can win the affections of its citizens and command the respect of the world. I dwell on this prospect with every satisfaction which an ardent love for my country can inspire, since there is no truth more thoroughly established than that there exists in the economy and course of nature an indissoluble union between virtue and happiness; between duty and advantage; between the genuine maxims of an honest and magnanimous policy and the solid rewards of public prosperity and felicity; since we ought to be no less persuaded that the propitious smiles of Heaven can never be expected on a nation that disregards the eternal rules of order and right which Heaven itself has ordained; and since the preservation of the sacred fire of liberty and the destiny of the republican model of government are justly considered, perhaps, as deeply, as finally, staked on the experiment entrusted to the hands of the American people.\n\nBesides the ordinary objects submitted to your care, it will remain with your judgment to decide how far an exercise of the occasional power delegated by the fifth article of the Constitution is rendered expedient at the present juncture by the nature of objections which have been urged against the system, or by the degree of inquietude which has given birth to them. Instead of undertaking particular recommendations on this subject, in which I could be guided by no lights derived from official opportunities, I shall again give way to my entire confidence in your discernment and pursuit of the public good; for I assure myself that whilst you carefully avoid every alteration which might endanger the benefits of an united and effective government, or which ought to await the future lessons of experience, a reverence for the characteristic rights of freemen and a regard for the public harmony will sufficiently influence your deliberations on the question how far the former can be impregnably fortified or the latter be safely and advantageously promoted.\n\nTo the foregoing observations I have one to add, which will be most properly addressed to the House of Representatives. It concerns myself, and will therefore be as brief as possible. When I was first honored with a call into the service of my country, then on the eve of an arduous struggle for its liberties, the light in which I contemplated my duty required that I should renounce every pecuniary compensation. From this resolution I have in no instance departed; and being still under the impressions which produced it, I must decline as inapplicable to myself any share in the personal emoluments which may be indispensably included in a permanent provision for the executive department, and must accordingly pray that the pecuniary estimates for the station in which I am placed may during my continuance in it be limited to such actual expenditures as the public good may be thought to require.\n\nHaving thus imparted to you my sentiments as they have been awakened by the occasion which brings us together, I shall take my present leave; but not without resorting once more to the benign Parent of the Human Race in humble supplication that, since He has been pleased to favor the American people with opportunities for deliberating in perfect tranquillity, and dispositions for deciding with unparalleled unanimity on a form of government for the security of their union and the advancement of their happiness, so His divine blessing may be equally conspicuous in the enlarged views, the temperate consultations, and the wise measures on which the success of this Government must depend. \n'

In [46]:
inaugural.words('1789-Washington.txt')

['Fellow', '-', 'Citizens', 'of', 'the', 'Senate', ...]

In [47]:
inaugural.sents('1789-Washington.txt')

[['Fellow', '-', 'Citizens', 'of', 'the', 'Senate', 'and', 'of', 'the', 'House', 'of', 'Representatives', ':'], ['Among', 'the', 'vicissitudes', 'incident', 'to', 'life', 'no', 'event', 'could', 'have', 'filled', 'me', 'with', 'greater', 'anxieties', 'than', 'that', 'of', 'which', 'the', 'notification', 'was', 'transmitted', 'by', 'your', 'order', ',', 'and', 'received', 'on', 'the', '14th', 'day', 'of', 'the', 'present', 'month', '.'], ...]

In [48]:
inaugural.paras('1789-Washington.txt')

[[['Fellow', '-', 'Citizens', 'of', 'the', 'Senate', 'and', 'of', 'the', 'House', 'of', 'Representatives', ':']], [['Among', 'the', 'vicissitudes', 'incident', 'to', 'life', 'no', 'event', 'could', 'have', 'filled', 'me', 'with', 'greater', 'anxieties', 'than', 'that', 'of', 'which', 'the', 'notification', 'was', 'transmitted', 'by', 'your', 'order', ',', 'and', 'received', 'on', 'the', '14th', 'day', 'of', 'the', 'present', 'month', '.'], ['On', 'the', 'one', 'hand', ',', 'I', 'was', 'summoned', 'by', 'my', 'Country', ',', 'whose', 'voice', 'I', 'can', 'never', 'hear', 'but', 'with', 'veneration', 'and', 'love', ',', 'from', 'a', 'retreat', 'which', 'I', 'had', 'chosen', 'with', 'the', 'fondest', 'predilection', ',', 'and', ',', 'in', 'my', 'flattering', 'hopes', ',', 'with', 'an', 'immutable', 'decision', ',', 'as', 'the', 'asylum', 'of', 'my', 'declining', 'years', '--', 'a', 'retreat', 'which', 'was', 'rendered', 'every', 'day', 'more', 'necessary', 'as', 'well', 'as', 'more', 'dear', 'to', 'me', 'by', 'the', 'addition', 'of', 'habit', 'to', 'inclination', ',', 'and', 'of', 'frequent', 'interruptions', 'in', 'my', 'health', 'to', 'the', 'gradual', 'waste', 'committed', 'on', 'it', 'by', 'time', '.'], ['On', 'the', 'other', 'hand', ',', 'the', 'magnitude', 'and', 'difficulty', 'of', 'the', 'trust', 'to', 'which', 'the', 'voice', 'of', 'my', 'country', 'called', 'me', ',', 'being', 'sufficient', 'to', 'awaken', 'in', 'the', 'wisest', 'and', 'most', 'experienced', 'of', 'her', 'citizens', 'a', 'distrustful', 'scrutiny', 'into', 'his', 'qualifications', ',', 'could', 'not', 'but', 'overwhelm', 'with', 'despondence', 'one', 'who', '(', 'inheriting', 'inferior', 'endowments', 'from', 'nature', 'and', 'unpracticed', 'in', 'the', 'duties', 'of', 'civil', 'administration', ')', 'ought', 'to', 'be', 'peculiarly', 'conscious', 'of', 'his', 'own', 'deficiencies', '.'], ['In', 'this', 'conflict', 'of', 'emotions', 'all', 'I', 'dare', 'aver', 'is', 'that', 'it', 'has', 'been', 'my', 'faithful', 'study', 'to', 'collect', 'my', 'duty', 'from', 'a', 'just', 'appreciation', 'of', 'every', 'circumstance', 'by', 'which', 'it', 'might', 'be', 'affected', '.'], ['All', 'I', 'dare', 'hope', 'is', 'that', 'if', ',', 'in', 'executing', 'this', 'task', ',', 'I', 'have', 'been', 'too', 'much', 'swayed', 'by', 'a', 'grateful', 'remembrance', 'of', 'former', 'instances', ',', 'or', 'by', 'an', 'affectionate', 'sensibility', 'to', 'this', 'transcendent', 'proof', 'of', 'the', 'confidence', 'of', 'my', 'fellow', 'citizens', ',', 'and', 'have', 'thence', 'too', 'little', 'consulted', 'my', 'incapacity', 'as', 'well', 'as', 'disinclination', 'for', 'the', 'weighty', 'and', 'untried', 'cares', 'before', 'me', ',', 'my', 'error', 'will', 'be', 'palliated', 'by', 'the', 'motives', 'which', 'mislead', 'me', ',', 'and', 'its', 'consequences', 'be', 'judged', 'by', 'my', 'country', 'with', 'some', 'share', 'of', 'the', 'partiality', 'in', 'which', 'they', 'originated', '.']], ...]

In [49]:
nltk.help.upenn_tagset('NNP')

NNP: noun, proper, singular
    Motown Venneboerger Czestochwa Ranzer Conchita Trumplane Christos
    Oceanside Escobar Kreisler Sawyer Cougar Yvette Ervin ODI Darryl CTCA
    Shannon A.K.C. Meltex Liverpool ...

In [50]:
print(nltk.corpus.brown)

<CategorizedTaggedCorpusReader in 'C:\\Users\\SHAMS\\AppData\\Roaming\\nltk_data\\corpora\\brown'>

In [52]:
print(nltk.corpus.abc)

<PlaintextCorpusReader in 'C:\\Users\\SHAMS\\AppData\\Roaming\\nltk_data\\corpora\\abc'>

In [53]:
import pandas as pd

In [68]:
df = pd.read_excel (r'C:/Users/SHAMS/Desktop/a.xlsx')
print (df)

  Unnamed: 0  Apples  Oranges
0       June       3        0
1     Robert       2        3
2       Lily       0        7
3      David       1        2

In [69]:
studentData = {
    'name' : ['jack', 'Riti', 'Aadi'],
    'age' : [34, 30, 16],
    'city' : ['Sydney', 'Delhi', 'New york']
}

In [70]:
df= pd.Dataframe(studentData)

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [71]:
df=pd.DataFrame(studentData)

In [72]:
df

   name  age      city
0  jack   34    Sydney
1  Riti   30     Delhi
2  Aadi   16  New york

In [73]:
df.shape

(3, 3)

In [74]:
df.head

<bound method NDFrame.head of    name  age      city
0  jack   34    Sydney
1  Riti   30     Delhi
2  Aadi   16  New york>

In [75]:
df.tail

<bound method NDFrame.tail of    name  age      city
0  jack   34    Sydney
1  Riti   30     Delhi
2  Aadi   16  New york>

In [81]:
studentData = {
    'name' : ['jack', 'Riti', 'Aadi'],
    'age' : [34, 30, 16],
    'city' : ['Sydney', 'Delhi', 'New york']
}

In [83]:
df=pd.DataFrame(studentData)

In [84]:
df.columns

Index(['name', 'age', 'city'], dtype='object')

In [85]:
df.name

0    jack
1    Riti
2    Aadi
Name: name, dtype: object

In [86]:
df.city

0      Sydney
1       Delhi
2    New york
Name: city, dtype: object

In [87]:
df

   name  age      city
0  jack   34    Sydney
1  Riti   30     Delhi
2  Aadi   16  New york

In [89]:
df[['name','age']]

   name  age
0  jack   34
1  Riti   30
2  Aadi   16

In [100]:
df['name'].min()

'Aadi'

In [101]:
df[df.age>=20]

   name  age    city
0  jack   34  Sydney
1  Riti   30   Delhi

In [102]:
 df.index

RangeIndex(start=0, stop=3, step=1)

In [107]:
df.set_index('age',inplace=True)

In [106]:
df

   name  age      city
0  jack   34    Sydney
1  Riti   30     Delhi
2  Aadi   16  New york

In [108]:
df

     name      city
age
34   jack    Sydney
30   Riti     Delhi
16   Aadi  New york

In [113]:
df.loc['30']

KeyError: '30'

In [114]:
df.reset_index(inplace=True)

In [115]:
df

   age  name      city
0   34  jack    Sydney
1   30  Riti     Delhi
2   16  Aadi  New york

In [1]:
nltk.downlaod()

NameError: name 'nltk' is not defined

In [2]:
import nltk

In [8]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [9]:
from nltk.corpus import inaugural

In [11]:
nltk.corpus.inaugural.fileids()

['1789-Washington.txt',
 '1793-Washington.txt',
 '1797-Adams.txt',
 '1801-Jefferson.txt',
 '1805-Jefferson.txt',
 '1809-Madison.txt',
 '1813-Madison.txt',
 '1817-Monroe.txt',
 '1821-Monroe.txt',
 '1825-Adams.txt',
 '1829-Jackson.txt',
 '1833-Jackson.txt',
 '1837-VanBuren.txt',
 '1841-Harrison.txt',
 '1845-Polk.txt',
 '1849-Taylor.txt',
 '1853-Pierce.txt',
 '1857-Buchanan.txt',
 '1861-Lincoln.txt',
 '1865-Lincoln.txt',
 '1869-Grant.txt',
 '1873-Grant.txt',
 '1877-Hayes.txt',
 '1881-Garfield.txt',
 '1885-Cleveland.txt',
 '1889-Harrison.txt',
 '1893-Cleveland.txt',
 '1897-McKinley.txt',
 '1901-McKinley.txt',
 '1905-Roosevelt.txt',
 '1909-Taft.txt',
 '1913-Wilson.txt',
 '1917-Wilson.txt',
 '1921-Harding.txt',
 '1925-Coolidge.txt',
 '1929-Hoover.txt',
 '1933-Roosevelt.txt',
 '1937-Roosevelt.txt',
 '1941-Roosevelt.txt',
 '1945-Roosevelt.txt',
 '1949-Truman.txt',
 '1953-Eisenhower.txt',
 '1957-Eisenhower.txt',
 '1961-Kennedy.txt',
 '1965-Johnson.txt',
 '1969-Nixon.txt',
 '1973-Nixon.txt',
 '1977-Carter.txt',
 '1981-Reagan.txt',
 '1985-Reagan.txt',
 '1989-Bush.txt',
 '1993-Clinton.txt',
 '1997-Clinton.txt',
 '2001-Bush.txt',
 '2005-Bush.txt',
 '2009-Obama.txt',
 '2013-Obama.txt',
 '2017-Trump.txt']

In [17]:
inaugural.paras('1841-Harrison.txt')

[[['Called', 'from', 'a', 'retirement', 'which', 'I', 'had', 'supposed', 'was', 'to', 'continue', 'for', 'the', 'residue', 'of', 'my', 'life', 'to', 'fill', 'the', 'chief', 'executive', 'office', 'of', 'this', 'great', 'and', 'free', 'nation', ',', 'I', 'appear', 'before', 'you', ',', 'fellow', '-', 'citizens', ',', 'to', 'take', 'the', 'oaths', 'which', 'the', 'Constitution', 'prescribes', 'as', 'a', 'necessary', 'qualification', 'for', 'the', 'performance', 'of', 'its', 'duties', ';', 'and', 'in', 'obedience', 'to', 'a', 'custom', 'coeval', 'with', 'our', 'Government', 'and', 'what', 'I', 'believe', 'to', 'be', 'your', 'expectations', 'I', 'proceed', 'to', 'present', 'to', 'you', 'a', 'summary', 'of', 'the', 'principles', 'which', 'will', 'govern', 'me', 'in', 'the', 'discharge', 'of', 'the', 'duties', 'which', 'I', 'shall', 'be', 'called', 'upon', 'to', 'perform', '.']], [['It', 'was', 'the', 'remark', 'of', 'a', 'Roman', 'consul', 'in', 'an', 'early', 'period', 'of', 'that', 'celebrated', 'Republic', 'that', 'a', 'most', 'striking', 'contrast', 'was', 'observable', 'in', 'the', 'conduct', 'of', 'candidates', 'for', 'offices', 'of', 'power', 'and', 'trust', 'before', 'and', 'after', 'obtaining', 'them', ',', 'they', 'seldom', 'carrying', 'out', 'in', 'the', 'latter', 'case', 'the', 'pledges', 'and', 'promises', 'made', 'in', 'the', 'former', '.'], ['However', 'much', 'the', 'world', 'may', 'have', 'improved', 'in', 'many', 'respects', 'in', 'the', 'lapse', 'of', 'upward', 'of', 'two', 'thousand', 'years', 'since', 'the', 'remark', 'was', 'made', 'by', 'the', 'virtuous', 'and', 'indignant', 'Roman', ',', 'I', 'fear', 'that', 'a', 'strict', 'examination', 'of', 'the', 'annals', 'of', 'some', 'of', 'the', 'modern', 'elective', 'governments', 'would', 'develop', 'similar', 'instances', 'of', 'violated', 'confidence', '.']], ...]

In [25]:
from nltk.corpus import movie_reviews

In [26]:
movie_reviews.categories()

['neg', 'pos']

In [24]:
nltk.help.upenn_tagset('AT')

No matching tags found.

In [29]:
import pandas as pd

In [30]:
df = pd.read_excel (r'C:/Users/SHAMS/Desktop/a.xlsx')

In [31]:
df

  Unnamed: 0  Apples  Oranges
0       June       3        0
1     Robert       2        3
2       Lily       0        7
3      David       1        2

In [32]:
df.shape

(4, 3)

In [33]:
df.head

<bound method NDFrame.head of   Unnamed: 0  Apples  Oranges
0       June       3        0
1     Robert       2        3
2       Lily       0        7
3      David       1        2>

In [35]:
df.tail

<bound method NDFrame.tail of   Unnamed: 0  Apples  Oranges
0       June       3        0
1     Robert       2        3
2       Lily       0        7
3      David       1        2>

In [36]:
df.columns

Index(['Unnamed: 0', 'Apples', 'Oranges'], dtype='object')

In [44]:
studentData = {
    'name' : [['jack', 'Riti'], ['Aadi'],
    'age' : [[34, 30], [16]],
    'city' : [['Sydney', 'Delhi'], ['New york']]
}

SyntaxError: invalid syntax (<ipython-input-44-fd9bc9bf3b96>, line 3)

In [38]:
df=pd.DataFrame(studentData)

In [39]:
df

   name  age      city
0  jack   34    Sydney
1  Riti   30     Delhi
2  Aadi   16  New york

In [40]:
df['age'].max()

34

In [41]:
df[df.age>=20]

   name  age    city
0  jack   34  Sydney
1  Riti   30   Delhi